{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Ajouter une salle</h1>

                {{ form_start(salle_form) }}
                    {{ form_widget(salle_form) }}
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                {{ form_end(salle_form) }}
            </div>
        </div>
    </div>

{% endblock %}