{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Ajouter un batiment</h1>

                {{ form_start(batiment_form) }}
                {{ form_widget(batiment_form) }}
                <button type="submit" class="btn btn-primary">Enregistrer</button>
                {{ form_end(batiment_form) }}
            </div>
        </div>
    </div>

{% endblock %}